

<div class="row col-md-6 col-md-offset-3 well" style="margin-top: 20px">
    <form method="post" action="/home/add">
        <input type="text" class="form-control" name="firstname" placeholder="First Name" />
        <br />
        <input type="text" class="form-control" name="lastname" placeholder="Last Name" />
        <br />
        <input type="text" class="form-control" name="email" placeholder="Email" />
        <br />
        <input type="text" class="form-control" name="phonenumber" placeholder="Phone Number" />
        <br />
        <textarea class="form-control" placeholder="Details" rows="5" name="details"></textarea>
        <br />
        <button class="btn btn-primary">Add</button>
    </form>
</div>



