 
  <div class="row col-md-6 col-md-offset-3 well"style="margin-top: 50px">
    <h4>
        Welcome to LIT-W07!!!
        To sign up please click on the link below:
    </h4>
    <h5><a href="/home/addform">Add Candidate</a></h5>
  </div>
